$mainColor: #03a9f4;
$mainBgColor: #f5fafd;
$white: #ffff;
$radius: 10px;
$textColor: #0c2631;
$boldText: #07161d;
$font300: 300;
$font700: 700;
$bg-color: #15294c;
$bg-gradient: linear-gradient(
  to right top,
  #03a9f4,
  #42b6f5,
  #63c3f6,
  #80cff7,
  #9bdbf9
);
