@import './variables';

.hover {
  color: $mainColor;
  transition: color 0.5s ease-in-out;
}

header {
  div {
    ul {
      li {
        &:hover {
          @extend .hover;
        }
      }
    }
    nav {
      ul {
        li {
          position: relative;
          &::after {
            content: '';
            background-color: $mainColor;
            width: 0%;
            height: 3px;
            position: absolute;
            transition: width 0.5s ease-in-out;

            top: 2em;
            left: 0;
          }
          &:hover {
            @extend .hover;
            &::after {
              content: '';
              background-color: $mainColor;
              width: 100%;
              height: 3px;
              position: absolute;

              top: 2em;
              left: 0;
            }
          }
        }
      }
    }
  }
}

button {
  background-image: $bg-gradient;
  background-color: red;
}
