@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import './styles/variables';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  //   // background-image: url(./assets/bg.jfif);
  //   background-repeat: no-repeat;
  //   background-size: cover;
  //   background-color: $bg-color;
  //   // position: relative;
  //   // background-attachment: fixed;
}
html {
  scroll-behavior: smooth;
}

.scroll {
  background-color: #f1f1f1;
}
